---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="flex bg-gray-50 border-t border-gray-200 py-6">
  <div class="container mx-auto text-center">
    {/* Social Icons */}
    <Social source={social} className="flex justify-center space-x-4 mb-4" />
    <ul class="flex justify-center space-x-6 text-xs sm:text-sm text-gray-500">
      {/* Footer Menu */}
      {
        menu.footer.map((menu) => (
          <li>
            <a
              href={menu.url}
              class="hover:text-gray-800 transition hover:underline"
            >
              {menu.name}
            </a>
          </li>
        ))
      }

      {/* Copyright */}
      <li>
        <span set:html={markdownify(config.params.copyright)} />
      </li>
    </ul>
  </div>
</footer>
