---
import Base from "@/components/layout/Base.astro";
import BlogsList from "@/components/layout/BlogsList.astro";
import { getContentPages } from "@/lib/content/contentParser.astro";
import { getTaxonomy } from "@/lib/content/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize, slugify } from "@/lib/utils/textConverter";

const tags = await getTaxonomy("blogs", "tags");

const blogs = await getContentPages("blogs");
const sortedBlogs = sortByDate(blogs);
---

<Base title={"Blog"}>
  <div class="container mx-auto px-4 py-12 max-w-4xl">
    <header class="mb-12">
      <h1 class="text-4xl font-bold mb-6">Blog</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">
        Gedanken, Projekte und Experimente aus meinem Leben als Entwickler und
        Hobbykoch.
      </p>
    </header>

    <!-- Tags -->
    <div class="mb-12">
      <ul class="flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <li>
              <a
                href={`/blog/t/${slugify(tag)}`}
                class="inline-block px-3 py-1 text-sm rounded-full bg-gray-100 dark:bg-gray-800 hover:bg-primary/10 hover:text-primary transition-colors duration-200"
              >
                <i class="ti ti-hash text-xs" />
                {humanize(tag || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Alle Blogs -->
    <div>
      <BlogsList blogs={sortedBlogs} />
    </div>
  </div>
</Base>
