html {
  @apply text-base;
}

body {
  @apply font-normal leading-relaxed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight;
}
