---
import config from "@/config/config.json";
import menu from "./menu.json";
import { markdownify } from "@/lib/utils/textConverter";
import ThemeToggle from "@/layouts/components/ThemeToggle.astro";
---

<footer
  class="hidden md:flex bg-gray-50 dark:bg-black border-t border-gray-200 dark:border-0 py-2 text-xs"
>
  <div class="container mx-auto text-center">
    <ul class="flex justify-center space-x-6">
      {/* Footer Menu */}
      {
        menu.footer.map((menu) => (
          <li>
            <a href={menu.url} class="hover-text transition hover:underline">
              {menu.name}
            </a>
          </li>
        ))
      }

      {/* Theme Toggle */}
      <li>
        <ThemeToggle class="hover-text transition hover:underline" />
      </li>

      {/* Copyright */}
      <li>
        <span
          class="text-gray-400"
          set:html={markdownify(config.params.copyright)}
        />
      </li>
    </ul>
  </div>
</footer>
