---
import { ErrorPage } from "@/lib/utils/api";

return ErrorPage({
  code: "NOT_FOUND",
  description: "Diese Seite ist in deinem Universium leider nicht verfügbar.",
  redirectUrl: "/",
  redirectLabel: "Zurück auf Los",
});
---

<h1>404</h1>
