---
import Base from "@/layouts/Base.astro";
---

<Base title={"404"}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 class="mb-4">404</h1>
          <p>
            Leider scheint diese Seite in deinem Browser nicht zu existieren :(
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
