<!-- This shortcode generates a gallery of images with a lightbox effect. -->

{{- $lightboxJS := resources.Get "js/lightbox.js" }}
{{- $galleryJS := slice $lightboxJS | resources.Concat "assets/js/gallery.js" | minify | fingerprint }}

<section class="gallery">
    <!-- Get the base URL from the shortcode parameters -->
    {{ $baseUrl := .Get "baseUrl" }}

    <!-- Optional thumbnail path -->
    {{ $thumbPath := .Get "thumbPath" | default $baseUrl }}

    <!-- Get the file pattern from the shortcode parameters -->
    {{ $filePattern := .Get "filePattern" }}
    {{ $start := .Get "start" | default 1 }}
    {{ $end := .Get "end" | default 10 }}

    <div class="gallery-container">
        <!-- Spinner -->
        <div class="spinner"></div>
        <!-- Progress text -->
        <div class="progress-text"></div>
        <!-- Gallery grid -->
        <div class="gallery-grid hidden">
            {{ range seq $start $end }}
                <!-- Assemble the file name -->
                {{ $fileName := replace $filePattern "<num>" (printf "%d" .) }}

                <!-- Gallery item -->
                <div class="gallery-item">
                    <a href="{{ printf "%s/%s" $baseUrl $fileName }}" data-lightbox="gallery">
                        <img src="{{ printf "%s/%s" $thumbPath $fileName }}" alt="Image {{ . }}">
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>

<!-- Show loading spinner -->
<script>
    // called when the page is fully loaded
    document.addEventListener("DOMContentLoaded", () => {

        // get all html elements
        const galleryGrid = document.querySelector(".gallery-grid");
        const spinner = document.querySelector(".spinner");
        const images = galleryGrid.querySelectorAll("img");
        const loadingText = document.querySelector(".progress-text");


        // function to check if all images are loaded
        const checkAllLoaded = () => {

            // get the number of loaded images
            const loadedImages = Array.from(images).filter((img) => img.complete).length;

            // get the progress in percentage
            const progress = Math.round((loadedImages / images.length) * 100);

            // update the progress text
            loadingText.textContent = `${progress}%`;

            // if all images are loaded
            if (progress === 100) {
                spinner.style.display = "none"; // Hide the spinner
                loadingText.style.display = "none"; // Hide the loading text
                galleryGrid.classList.remove("hidden"); // Show the gallery
            }
        }

        // check for each image if it is loaded
        images.forEach((img) => {
            if (img.complete) {
                // Image already loaded
                checkAllLoaded()
            } else {
                // Wait for image to load
                img.addEventListener("load", checkAllLoaded)
                img.addEventListener("error", checkAllLoaded) // Handle errors gracefully
            }
        })
    })
</script>

<!-- Load Lightbox JS -->
<script type="application/javascript" src="{{ $galleryJS.Permalink }}"></script>