<section>
    {{ $file := .Get "file" }}
    {{ $data := index site.Data $file }}
    {{ if $data }}
    <div class="links-grid">
        {{ range $data }}
        <div class="link-card">
            {{ if .logo }}
            <img src="{{ .logo }}" alt="{{ .name }} Logo" class="link-logo">
            {{ else }}
            <div class="link-logo hidden"></div> <!-- Placeholder for consistent card size -->
            {{ end }}
            <h3>{{ .name }}</h3>
            <p>{{ .desc }}</p>
            <div class="link-buttons">
                {{ if .url }}
                <a href="{{ .url }}" target="_blank" aria-label="Website">
                    {{ partial "svg.html" (dict "name" "share") }}
                </a>
                {{ end }}
                {{ if .git_url }}
                <a href="{{ .git_url }}" target="_blank" aria-label="GitHub">
                    {{ partial "svg.html" (dict "name" "git") }}
                </a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    {{ else }}
    <p>Keine Daten gefunden für die Datei: {{ $file }}</p>
    {{ end }}
</section>