{{- $lightboxJS := resources.Get "js/lightbox.js" }}
{{- $galleryJS := slice $lightboxJS | resources.Concat "assets/js/gallery.js" | minify | fingerprint }}

<section class="gallery">
    {{ $baseUrl := .Get "baseUrl" }}
    {{ $filePattern := .Get "filePattern" }}
    {{ $start := .Get "start" | default 1 }}
    {{ $end := .Get "end" | default 10 }}
    <div class="gallery-grid">
        {{ range seq $start $end }}
        {{ $fileName := replace $filePattern "<num>" (printf "%d" .) }}
        <a href="{{ printf "%s/%s" $baseUrl $fileName }}" target="_blank">
        <img src="{{ printf "%s/%s" $baseUrl $fileName }}" alt="Image {{ . }}" class="gallery-image">
        </a>
        {{ end }}
    </div>
</section>

<!-- Lightbox JS -->
<script type="application/javascript" src="{{ $galleryJS.Permalink }}"></script>